:root {
	--primary-color: #0e0b16;
	--contrast-color: #e7dfdd;
	--aux-color: #4717f6;
	--alt-color: #a239ca;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--primary-color);
	color: var(--contrast-color);
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: var(--contrast-color);
}

/* classes auxiliares */

.center {
	max-width: 1200px;
	margin: 0 auto;
}

.section {
	min-height: 100vh;
}

.flex {
	display: flex;
	align-items: center;
}

.flex-between {
	justify-content: space-between;
}

.flex-evenly {
	justify-content: space-evenly;
}

.button {
	background-color: var(--aux-color);
	padding: 0.5rem 1rem;
	border:  none;
	border-radius: 5px;
}

/* header */

header {
	background-color: #111;
	position: sticky;
	top: 0;
	z-index: 2;
	padding: 1rem 0;
}

header li {
	padding: 0 1rem;
}

header li a:hover {
	text-decoration: underline;
}